
<div class="card-type">{{card.type}}</div>
<div class="card-id">{{card.id}}</div>
<div class="card-attributes__title">{{card.attributes.title}}</div>
<div class="card-attributes__rooms">{{card.attributes.rooms}}</div>
<div class="card-attributes__address-city">{{card.attributes.address.city}}</div>
<div class="card-attributes__address-street">{{card.attributes.address.street}}</div>
<div class="card-attributes__address-house">{{card.attributes.address.house}}</div>
<div class="card-attributes__address-room">{{card.attributes.address.room}}</div>
<div class="card-attributes__area">{{card.attributes.area}}</div>
<div class="card-attributes__unit">{{card.attributes.unit}}</div>
<div class="card-attributes__unit">{{card.attributes.unit}}</div>
<div class="card-relationships__type">{{card.relationships.type}}</div>
<div class="card-relationships__id">{{card.relationships.id}}</div>
<div class="card-relationships__attributes-first_name">{{card.relationships.attributes.first_name}}</div>
<div class="card-relationships__attributes-last_name">{{card.relationships.attributes.last_name}}</div>
<div class="card-relationships__attributes-middle_name">{{card.relationships.attributes.middle_name}}</div>

